<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Course</title>
</head>
<body>

<h1>Course Applicants</h1>

<form action="/ShowCourseApplication" method="post">
    <input type="text" name="firstName" placeholder="First name">
    <input type="text" name="lastName" placeholder="Last name">
    <input type="text" name="birthDay" placeholder="Birthday">
    <input type="text" name="currentClass" placeholder="Class">
    <input type="text" name="email" placeholder="Email">
    <input type="text" name="phone" placeholder="Phone">
    <input type="text" name="coureInformation" placeholder="Course Information">

    <button type="submit">Opret</button>
</form>


</body>
</html>