<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Apply til course</title>
</head>
<body>

<h1>Apply til course</h1>

<form action="/createApplication" method="post">
    <input type="text" name="firstName" placeholder="Firstname">
    <input type="text" name="lastName" placeholder="lastname">
    <input type="text" name="birthDay" placeholder="YYYY-MM-DD">
    <input type="text" name="currentClass" placeholder="Currentclass">
    <input type="text" name="email" placeholder="Email">
    <input type="text" name="phone" placeholder="phonenr">
    <input type="text" name="courseInformation" placeholder="FK">
    <button type="submit">Opret</button>
</form>


</body>
</html>