<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head">
<body>
<div th:replace="fragments :: navStudent"></div>
<h1>Apply til course</h1>

<form action="/createApplication" method="post">
    <input type="text" name="firstName" placeholder="Firstname" required pattern="[a-zA-Z]{2,6}">
    <input type="text" name="lastName" placeholder="lastname" required pattern="[a-zA-Z]{2,6}">
    <input type="text" name="birthDay" placeholder="YYYY-MM-DD" required pattern="{2,8}">
    <input type="text" name="currentClass" placeholder="Currentclass">
    <input type="text" name="email" placeholder="Email" required pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}">
    <input type="text" name="phone" placeholder="phonenr" required pattern="^[0-9]*$">
<!--    <input type="text" name="courseInformation" placeholder="FK">-->
    <select id="course" name="courseInformation">
    <span th:each="courseInformation : ${student}">
        <option th:value="${courseInformation.id}" th:text="${courseInformation.course}"></option>
        </span>
    </select>
    <button type="submit">Opret</button>
</form>


</body>
</html>
