<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head">
<body>
<div th:replace="fragments :: navAdmin"></div>
<h1>Opret ny user</h1>
<p>
    <a href="/showRoles">Back</a>
</p>
<form action="/createRole" method="post">
    <label for="username">Username: </label>
    <select id="username" name="username">
        <span th:each="user : ${users}">
        <option th:value="${user.username}" th:text="${user.username}"></option>
        </span>
    </select>
    <input type="text" name="groupAuth" placeholder="Auth Group">
    <button type="submit">Opret</button>
</form>

</body>
</html>