<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>

    <meta charset="UTF-8">
    <title>Roles</title>
</head>
<body>
<h1>
    List over all user roles
</h1>

<p>
    <a href="/adminlogin">Back</a>
</p>

<p>
    <a href="/createRole" class="btn btn-info btn-lg">
        <span class="glyphicon glyphicon-cutlery"></span> Add role!
    </a>
</p>
<div>
    <table class="table table-condensed">
        <thead>
        <tr>
            <th>
                Role_Id
            </th>
            <th>
                Username
            </th>
            <th>
                Auth Group
            </th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="role : ${roles}">
            <td th:text="${role.id}"></td>
            <td th:text="${role.username}"></td>
            <td th:text="${role.groupAuth}"></td>
            <td><a th:href="@{'/updateRole/'+${role.id}}" class="btn btn-warning btn-lg">Edit</a></td>
            <td><a th:href="@{'/deleteRole/'+${role.id}}" class="btn btn-danger btn-lg">Delete</a></td>
        </tr>

        </tbody>
    </table>

</div>
</body>
</html>