<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head">

<body>
<div th:replace="fragments :: navTeacher"></div>


<div class="container">
<h1>
    Liste over alle Elever
</h1>




    <table class="table table-condensed table-bordered table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Birth</th>
            <th>Current class</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Kursus</th>
            <th>Opdatere</th>
            <th>Slet</th>
        </tr>
        </thead>
        <tbody>
        <tr> </tr>
        <p th:each="courseApplication : ${apply}">
        <td> <span th:text="${courseApplication.id}">Produkt</span> </td>
        <td> <span th:text="${courseApplication.firstName}">Produkt</span> </td>
        <td> <span th:text="${courseApplication.lastName}">Produkt</span> </td>
        <td> <span th:text="${courseApplication.birthDay}">Produkt</span> </td>
        <td> <span th:text="${courseApplication.currentClass}">Produkt</span> </td>
        <td> <span th:text="${courseApplication.email}">Produkt</span> </td>
        <td><span th:text="${courseApplication.phone}">Pris</span></td>
        <td><span th:text="${courseApplication.courseInformation}">description</span></td>
        <td><a th:href="@{'/updateApplication/' + ${courseApplication.id}}">Tryk her</a></td>
        <td><a class="text-danger" th:href="@{'/deleteApplication/' + ${courseApplication.id}}">Tryk her</a></td>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>