<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>

    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
    <h1>
        List over all users
    </h1>
    <a href="/createUser" class="btn btn-info btn-lg">
        <span class="glyphicon glyphicon-cutlery"></span> Add user!
    </a>
<div>
    <table class="table table-condensed">
        <thead>
        <tr>
            <th>
                USER_ID
            </th>
            <th>
                USERNAME
            </th>
            <th>
                PASSWORD
            </th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.password}"></td>
            <td><a th:href="@{'/deleteUser/'+${user.id}}" class="btn btn-danger btn-lg">Delete</a></td>
        </tr>

        </tbody>
    </table>

</div>
</body>
</html>