<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>

    <meta charset="UTF-8">
    <title>Application</title>
</head>


<body>


<h1>
    Liste over alle Elever
</h1>




<div>
    <table class="table table-condensed">
        <thead>
        <tr>
            <th>Id</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Birth</th>
            <th>Current class</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Kursus</th>
<!--            <th>Opdatere</th>-->
<!--            <th>Slet</th>-->
        </tr>
        </thead>
        <tbody>
        <tr> </tr>
        <p th:each="courseApplication : ${apply}">
        <td> <span th:text="${courseApplication.id}">Produkt</span> </td>
        <td> <span th:text="${courseApplication.firstName}">Produkt</span> </td>
        <td> <span th:text="${courseApplication.lastName}">Produkt</span> </td>
        <td> <span th:text="${courseApplication.birthDay}">Produkt</span> </td>
        <td> <span th:text="${courseApplication.currentClass}">Produkt</span> </td>
        <td> <span th:text="${courseApplication.email}">Produkt</span> </td>
        <td><span th:text="${courseApplication.phone}">Pris</span></td>
        <td><span th:text="${courseApplication.courseInformation}">description</span></td>
<!--        <td><a th:href="@{'/updateTeachers/' + ${teacher.email}}">Tryk her</a></td>-->
<!--        <td><a style="color: red" th:href="@{'/delete/' + ${teacher.email}}">Tryk her</a></td>-->
        </tr>
        </tbody>
    </table>
</div>
<a href="/createTeacher" class="btn btn-info btn-lg">
    <span class="glyphicon glyphicon-cutlery"></span> Add Teacher!
</a>

</body>
</html>