<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head">


<body>

<div th:replace="fragments :: navTeacher"></div>
<div class="container">
<h1>
    List of Applicants
</h1>




<div>
    <table class="table table-condensed table-bordered table-hover">
        <thead>
        <tr>
            <th>Course applied to</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Birthday</th>
            <th>Class</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Course Information</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr> </tr>
        <p th:each="teacher : ${teachers}">
        <td> <span th:text="${teacher.email}">Produkt</span> </td>
        <td><span th:text="${teacher.first_name}">Pris</span></td>
        <td><span th:text="${teacher.last_name}">description</span></td>
        <td><span th:text="${teacher.last_name}">description</span></td>
        <td><span th:text="${teacher.last_name}">description</span></td>
        <td><span th:text="${teacher.last_name}">description</span></td>
        <td><span th:text="${teacher.last_name}">description</span></td>
        <td><span th:text="${teacher.last_name}">description</span></td>
        <td><a th:href="@{'/updateTeachers/' + ${teacher.email}}">Tryk her</a></td>
        <td><a class="text-danger" th:href="@{'/delete/' + ${teacher.email}}">Tryk her</a></td>
        </tr>
        </tbody>
    </table>
</div>
</div>
</body>
</html>