<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head">
<body>
<div th:replace="fragments :: navAdmin"></div>
<div class="container">
<h1>
    Alle bruger roller
</h1>


<p>
    <a href="/createRole" class="btn btn-info">
        <!--<span class="glyphicon glyphicon-cutlery"></span> Tilføj rolle-->
        Tilføj ny rolle
    </a>
</p>
<div>
    <table class="table table-condensed table-bordered table-hover">
        <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Brugernavn
            </th>
            <th>
                Auth Group
            </th>
            <th>
                Rediger
            </th>
            <th>
                Slet
            </th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="role : ${roles}">
            <td th:text="${role.id}"></td>
            <td th:text="${role.username}"></td>
            <td th:text="${role.groupAuth}"></td>
            <td><a th:href="@{'/updateRole/'+${role.id}}">Ret</a></td>
            <td><a th:href="@{'/deleteRole/'+${role.id}}" class="text-danger">Slet</a></td>
        </tr>

        </tbody>
    </table>
</div>
</div>
</body>
</html>