<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head">
<body>
<div th:replace="fragments :: navAdmin"></div>
<div class="container">
    <h1>
        List over all users
    </h1>

    <p>
    <a href="/adminlogin">Back</a>
    </p>

    <p>
    <a href="/createUser" class="btn btn-info btn-lg">
        <span class="glyphicon glyphicon-cutlery"></span> Add user!
    </a>
    </p>
<div>
    <table class="table table-condensed table-bordered table-striped">
        <thead>
        <tr>
            <th>
                USER_ID
            </th>
            <th>
                USERNAME
            </th>
            <th>
                PASSWORD
            </th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.password}"></td>
            <td><a th:href="@{'/updateUser/'+${user.id}}" class="btn btn-warning btn-lg">Edit</a></td>
            <td><a th:href="@{'/deleteUser/'+${user.id}}" class="btn btn-danger btn-lg">Delete</a></td>
        </tr>

        </tbody>
    </table>
</div>
</div>
</body>
</html>