<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head">


<body>
<div th:replace="fragments :: navTeacher"></div>
<div class="container">
<h1>
    Liste over alle valgfag
</h1>




<div>
    <table class="table table-condensed table-bordered table-hover">
        <thead>
        <tr>
            <th>Kurser</th>
            <th>Semester</th>
            <th>ECTS</th>
            <th>Hvilket Sprog?</th>
            <th>Minimum antal af studerende</th>
            <th>Maximum antal af studerende</th>
            <th>Forudsætninger</th>
            <th>Udbyttet ved undervisningen</th>
            <th>Indhold i undervisningen</th>
            <th>Læring procceser</th>
            <th>Eksamens form</th>
            <th>Underviserens navn</th>
             <th>Opdatere</th>
            <th>Slet</th>
        </tr>
        </thead>
        <tbody>
        <tr> </tr>
        <p th:each="CourseInformation : ${courseInformations}">
        <td> <span th:text="${CourseInformation.course}">Kursus</span> </td>
        <td><span th:text="${CourseInformation.semester}">Semester</span></td>
        <td><span th:text="${CourseInformation.ects}">ECTS</span></td>
        <td><span th:text="${CourseInformation.course_language}">Sprog</span></td>
        <td><span th:text="${CourseInformation.min_num_of_student}">Minimum Antal studerende</span></td>
        <td><span th:text="${CourseInformation.max_num_of_student}">Maximum Antal studerende</span></td>
        <td><span th:text="${CourseInformation.prerequisites}">Forudsætninger for kurset</span></td>
        <td><span th:text="${CourseInformation.learning_outcome}">Udbytte ved undervisningen</span></td>
        <td><span th:text="${CourseInformation.content}">Indhold i undervisningen</span></td>
        <td><span th:text="${CourseInformation.learning_activities}">Lærings procceser</span></td>
        <td><span th:text="${CourseInformation.exam_form}">Eksamens form</span></td>
        <td><span th:text="${CourseInformation.teacher_Email}">Underviseren mail</span></td>
         <td><a th:href="@{'/updateCourse/' + ${CourseInformation.id}}">Tryk her</a></td>
        <td><a style="color: red" th:href="@{'/deletec/' + ${CourseInformation.id}}">Tryk her</a></td>
        </tr>
        </tbody>
    </table>
</div>

<a href="/createCourse" class="btn btn-info btn-lg">
    <span class="glyphicon glyphicon-cutlery"></span> Add Teacher!
</a>
</div>

</body>
</html>