<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head">
<body>
<div th:replace="fragments :: navTeacher"></div>
<div class="container">

    <h1> Teacher virker også nu :D </h1>

    <p><a href="/showTeachers">Tryk her</a> Her kan du oprette/opdatere/sltette en lærer</p>
    <p><a href="/teacherShowCourse">Tryk her</a> Her kan du se alle valgfag </p>
    <p><a href="/showAllApplications">Tryk her</a> Her kan du se alle tilmeldte elever </p>
    <p> </p>

    <a href="/logout">LOGOUT</a>
</div>
</body>
</html>