<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head">
<body>
<div th:replace="fragments :: navTeacher"></div>
<div class="container">
<h1> Her kan du update valgfag</h1>

<form class="form-inline"  action="/updateCourse" method="post">
    <input class="form-control" type="hidden" name="id" th:value="${courseInformations.id}">
    <input class="form-control" type="text" name="course" th:value="${courseInformations.course}">
    <input class="form-control" type="text" name="semester" th:value="${courseInformations.semester}">
    <input class="form-control" type="text" name="ects" th:value="${courseInformations.ects}">
    <input class="form-control" type="text" name="course_language" th:value="${courseInformations.course_language}">
    <input class="form-control" type="text" name="min_num_of_student" th:value="${courseInformations.min_num_of_student}">
    <input class="form-control" type="text" name="max_num_of_student" th:value="${courseInformations.max_num_of_student}">
    <input class="form-control" type="text" name="prerequisites" th:value="${courseInformations.prerequisites}">
    <input class="form-control" type="text" name="learning_outcome" th:value="${courseInformations.learning_outcome}">
    <input class="form-control" type="text" name="content" th:value="${courseInformations.content}">
    <input class="form-control" type="text" name="learning_activities" th:value="${courseInformations.learning_activities}">
    <input class="form-control" type="text" name="exam_form" th:value="${courseInformations.exam_form}">
    <input class="form-control" type="text" name="teacher_Email" th:value="${courseInformations.teacher_Email}">


    <button type="submit" class="btn btn-success">Opdater valgfag</button>
</form>

</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>